[firewall]
lockfile = /var/run/firewall-agent.lock
uri = amqp://guest:guest@localhost:5672//
iptables_file = /etc/iptables/rules
logging = debug
#hostname = firewall01

[ovs]
lockfile = /var/run/ovs-agent.lock
uri = amqp://guest:guest@localhost//
logging = debug
hostname = sw124
ovsdb-port = 5555
